*{margin: 5px;
    padding: 0px;
  }
  h1{
    font: bold 20 px verdana, sans-serif;
  }
  h2{
    font: bold 14 px verdana, sans-serif;
  }
  h3{
    font: bold 14 px verdana, sans-serif;
  }
  h4{
    font: bold 14 px arial, sans-serif;
  }
  body{
    text-align: center;
  }

  table{
    width: 40%;
    text-align: center;
    background-color: gray;
  }
  
  textarea{
    resize: none;
  }

  #agrupar{
    width: 100%;
    margin: 15 px auto;
    text-align: center;
  }
  
  #cabecera{
    background: #E79519;
    border: 1px solid #999999;
    padding: 20 px;
  }
  
  #menu{
    background: #E79519;
    padding: 5px 15px;
  }
  #Menu li{
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 14px verdana, sans-serif;
    background: #E79519;
  }
  
  #seccion{
    float: left;
    width: 70%;
    margin: 20 px;
    background: #E79519;
  }

  #tabla_imagenes{
    float: left;
    text-align: center;
    width: 70%;
    margin: 20 px;
    background: #E79519;
  }

  #solicitud{
    float: center;
    text-align: center;
    width: 70%;
    margin: 20 px;
    background: #E79519;
  }

  
  #opcion{
    float: center;
    text-align: left;
    width: 70%;
    margin: 20 px;
    background: #E79519;
  }

  #idiomas{
    float: left;
    text-align: left;
    width: 70%;
    margin: 20 px;
    padding: 60px 15px;
    background: #E79519;
  }

  #tabla_texto{
    float: left;
    width: 20%;
    margin: 20 px 0 px;
    padding: 20px;
    background: #E79519;
  }

  #columna{
    float: left;
    width: 70%;
    text-align: left;
    margin: 20 px 0 px;
    padding: 20px;
    background: #E79519;
  }
  
  #pie{
    clear:both;
    text-align: center;
    padding: 20 px;
    border-top: 2px solid #E79519
  }
  
  article{
    background: #F6200B;
    border: 1px solid #999999;
    padding: 20 px;
    margin-bottom: 15 px;
  }
  
  .menu_bar{
    display:none;
  }
  
  @media screen and (max-width: 800px){
    #Menu{
      width: 30%;
      height: 50%;
      margin:0;
      position: fixed;
    }
    
    #Menu li{
      display: block;
      float: none;
      border-bottom: 1px solid rgba(255,255,255,9);
    }
    
    .menu_bar{
      display: block;
      width: 100%;
      background:#CCC;
    }
    
    .menu_bar bt-Menu{
      display: block;
      padding:20px;
      color:#fff;
      text-decoration:none;
      font-weight:bold;
      font-size: 25px;
    }
  }